// ARRAY DE FUENTES
$fuentes: (
    titulo: 'Abril Fatface',
    texto: 'Lato'
);
$bordes: (
    radius: 1rem,
    borde: '1px solid white'
);
$fondoTrans: (
    oscuro:rgba(15, 15, 15, 0.5),
    claro:rgba(255, 255, 255, 0.5)
);

// VARIABLES DE COLORES
$amarillo: #fadd6c;
$azulnoche: #1d1e73;
$azul: #191ce3;
$verde: #9c872A;
$blanco: white;
$negro: #000;
$amarilloclaro: #fae482;
$morado: #5A70fB;

// VARIABLES DECORACIÓN
$decoracion: none;
/* font-family: 'Abril Fatface', cursive;

font-family: 'Lato', sans-serif;

font-family: 'Rubik', sans-serif; */