// VARIABLES
$fuenteTitulo: 'Abril Fatface';
$fuenteTitulos2: 'Rubik';
$fuenteTextos: 'Lato';

// VARIABLES DE COLORES
$amarillo: #fadd6c;
$azulnoche: #1d1e73;
$azul: #191ce3;
$verde: #9c872A;
$blanco: white;
$negro: #000;
$amarilloclaro:#fae482;
$morado: #5A70fB;

/* font-family: 'Abril Fatface', cursive;

font-family: 'Lato', sans-serif;

font-family: 'Rubik', sans-serif; */
*{
    box-sizing: border-box;
}
body{
    background-color: $amarilloclaro;
}
.header,
.footer{
    height: 10em;
    background-color: $azulnoche;
}

