/* font-family: 'Abril Fatface', cursive;

font-family: 'Lato', sans-serif;

font-family: 'Rubik', sans-serif; */
* {
  box-sizing: border-box;
}

body {
  background-color: #fae482;
}

.header,
.footer {
  height: 10em;
  background-color: #1d1e73;
}
